* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#getRequestData {
    border: 1px solid grey;
    width: 100%;
}

.formData {
    border: 1px solid #2196f3;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.formData p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;
    margin: 0;
}

.formData input {
    width: 97%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #2196f3;
    margin-top: 10px;
}

.formData #getRequest {
    border: 1px solid #ffc107;
    border-radius: 10px;
    background-color: #ffc107;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    height: 34px;
    letter-spacing: 0.2em;
    transition: 0.2s;
    cursor: pointer;
}

.formData #getRequest:hover {
    border: 1px solid #ff5722;
    background-color: #ff5722;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 100px;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}